<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="45311Paul-EmmanuelSotir.DatasheetFinder" Publisher="CN=009D8092-8793-41A6-A6D9-70B37ECAC40F" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Datasheet Finder</DisplayName>
    <PublisherDisplayName>Paul-Emmanuel Sotir</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ICsDatasheetFinder.App">
      <m2:VisualElements DisplayName="ICs Datasheet Finder" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Integrated circuits datasheet finder application." ForegroundText="dark" BackgroundColor="#E6E6E6" ToastCapable="false">
        <m2:DefaultTile ShortName="Datasheet Finder" Wide310x150Logo="Assets\Wide310x150Logo.png" Square70x70Logo="Assets\Square70x70Logo.png" DefaultSize="wide310x150Logo">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#E6E6E6" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>